@import './vars';
@import '~material-icons/iconfont/material-icons';
@import '~material-components-web/dist/material-components-web.min.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import './components/app/app';
@import './components/app-body/app-body';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.app-root {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}
